page-login {
    .login-logo {
        padding: 20px 0;
        min-height: 200px;
        text-align: center;
    }

    .login-logo img {
        max-width: 150px;
    }

    .list {
        margin-bottom: 0;
    }

    .error{
        color: #ff0000;
        font-size: 12px;
        padding-left:12px;
    }
}
