<ion-content padding>
  <div class="login-logo">
    <img src="assets/imgs/logo.png" alt="Ionic logo">
  </div>
  <form [formGroup]="loginForm" (submit)="validalogin(user)" novalidate>
    <ion-item>
      <ion-label floating>E-mail</ion-label>
      <ion-input [(ngModel)]="user.email" formControlName="email" type="text" placeholder="E-mail" clearInput
        clearOnEdit="false">
      </ion-input>
    </ion-item>
    <ion-label *ngIf="errorEmail" class="error">{{messageEmail}}</ion-label>
    <ion-item>
      <ion-label floating>Senha</ion-label>
      <ion-input [(ngModel)]="user.password" formControlName="password" type="password" placeholder="Senha" clearInput
        clearOnEdit="false">
      </ion-input>
    </ion-item>
    <ion-label *ngIf="errorPassword" class="error">{{messagePassword}}</ion-label>
    <p></p>
    <ion-buttons text-center>
      <button ion-button round outline type="submit">Entrar</button>
    </ion-buttons>
  </form>
  <button ion-button block clear (click)="resetPassword()">
    Esqueci minha senha
  </button>
  <button ion-button block clear (click)="register()">
      Registrar
  </button>
</ion-content>