<ion-header>
  <ion-navbar>
    <ion-title>Cadastro</ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-padding>
  <ion-grid *ngIf="selectedFile.base64">
    <img [src]="selectedFile.base64" class="img-top-profile">
    <ion-buttons text-center>
      <button ion-button round outline (click)="selectedFile = { data: null, base64: null }">
        <ion-icon name="ios-trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-grid>
  <div *ngIf="!selectedFile.base64">
    <div class="img-input" (click)="inputFile.click()">
      <ion-icon name="ios-images"></ion-icon>
      <p>Adicionar Foto</p>
    </div>
    <input type="file" #inputFile class="inputfile" (change)="openFile($event)" />
  </div>
  <form [formGroup]="loginForm" (submit)="saveMembro()">
    <ion-item>
      <ion-label floating>Seu Nome</ion-label>
      <ion-input [(ngModel)]="membro.nome" formControlName="nome" type="text" placeholder="Seu Nome" clearInput
        clearOnEdit="false"></ion-input>
    </ion-item>
    <ion-input-mask type="text" placeholder="Telefone" formControlName="tel" [(ngModel)]="membro.telefone" mask="(99) 99999-9999"></ion-input-mask>
    <ion-row no-padding>
      <ion-col no-padding>
        <ion-input-mask [(ngModel)]="membro.cep" formControlName="cep" type="text" placeholder="Cep" mask="99.999-999"
          [clearIfNotMatch]="true" [lastChild]="true" [dropSpecialCharacters]="true">
        </ion-input-mask>
      </ion-col>
      <ion-col class="button-padding">
        <button ion-button [disabled]='membro.cep == null || membro.cep.length < 8' type="button" block outline (click)='getEndereco()'>
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <ion-item>
      <ion-label floating>Endereço</ion-label>
      <ion-input [(ngModel)]="membro.endereco" formControlName="endereco" type="text" placeholder="Endereço" clearInput
        clearOnEdit="false">
      </ion-input>
    </ion-item>
    <ion-item *ngIf="isenabled">
      <ion-label floating>E-mail</ion-label>
      <ion-input [(ngModel)]="membro.email" formControlName="email" type="text" placeholder="E-mail" clearInput
        clearOnEdit="false">
      </ion-input>
    </ion-item>
    <ion-item *ngIf="isenabled">
      <ion-label floating>Senha</ion-label>
      <ion-input [(ngModel)]="membro.senha1" formControlName="senha1" type="password" placeholder="Senha" clearInput
        clearOnEdit="false">
      </ion-input>
    </ion-item>
    <ion-item *ngIf="isenabled">
      <ion-label floating>Confirmar Senha</ion-label>
      <ion-input [(ngModel)]="membro.senha2" formControlName="senha2" type="password" placeholder="Confirmar Senha"
        clearInput clearOnEdit="false">
      </ion-input>
    </ion-item>
    <ion-item *ngIf="isenabled">
      <ion-label floating>Código Igreja</ion-label>
      <ion-input [(ngModel)]="membro.code" formControlName="code" type="text" placeholder="Código Igreja" clearInput
        clearOnEdit="false">
      </ion-input>
    </ion-item>
    <p></p>
    <ion-buttons text-center>
      <button ion-button round outline type="submit">Registrar</button>
    </ion-buttons>
  </form>
</ion-content>