<ion-header>
  <ion-navbar>
    <ion-title>Google maps</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-item>
      <ion-label floating>Selecione Celula</ion-label>
      <ion-select (ionChange)="selectCelula()" [(ngModel)]="celula.nome">
          <ion-option *ngFor="let cel of celulaList | async" value="{{cel.nome}}">{{cel.nome}}</ion-option>
      </ion-select>
  </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div #map id="map" *ngIf="(celulaList | async) != 0"></div>
  <ion-grid style="height: 100%" *ngIf="(celulaList | async) == 0">
      <ion-row ion-row justify-content-center align-items-center style="height: 100%">
        <div text-center>
          <ion-icon size="large" name="md-thumbs-down" color="medium"></ion-icon>
          <ion-label no-margin color="medium">Lista de Celulas vazia.</ion-label>
        </div>
      </ion-row>
    </ion-grid>
</ion-content>