page-cadastro-celula {
    .error {
        color: #ff0000;
        font-size: 12px;
        padding-left:12px;
    }

    .button-padding {
        padding: 8px;
    }
    
    .img-input {
        position: relative;
        text-align: center;
        height: 5.6rem;
        width: 100%;
        margin: 15px 0;
        ion-icon {
            font-size: 2.4em !important;
            margin-top: 10px;
            padding-bottom: 5px;
        }
        p {
            margin-top: 0;
        }
    }
    
    .button-clear:hover:not(.disable-hover) {
        background-color: unset;
        color: var(--ion-color-dark);
    }
    
    textarea {
        resize: none
    }
    
    .item {
        padding-left: 0;
        border-bottom: 1px solid var(--ion-color-medium);
    }
    
    .event {
        display: flex;
        ion-item {
            width: 50%;
            border-bottom: unset;
        }
    }

    .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }
    
}
