<ion-header>
  <ion-navbar>
    <ion-title>
      {{celula.nome}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="primary-font">
  <ion-grid col-12 col-md-4>
    <ion-grid *ngIf="selectedFile.base64">
      <img class="img-top-profile" [src]="selectedFile.base64">
    </ion-grid>
    <p></p>
    <ion-row justify-content-center>
      <h3>{{celula.nome}}</h3>
    </ion-row>
    <ion-row justify-content-center>
      {{celula.endereco}}
    </ion-row>
    <ion-row justify-content-center padding-bottom>
      {{celula.descricao}}
    </ion-row>
    <ion-row justify-content-center *ngIf="celula.site">
      <ion-icon name="globe" color="primary" item-start></ion-icon>
      <b padding-left>{{celula.site}}</b>
    </ion-row>
    <ion-row></ion-row>
    <ion-row justify-content-center *ngIf="celula.email">
      <ion-icon name="mail" color="primary" item-start></ion-icon>
      <b padding-left>{{celula.email}}</b>
    </ion-row>
    <ion-row justify-content-center *ngIf="celula.telefone">
      <ion-icon name="call" color="primary" item-start></ion-icon>
      <b padding-left>{{celula.telefone}}</b>
    </ion-row>
  </ion-grid>
</ion-content>